.markdown {
    line-height: 28px;
}

.markdown p {
    @apply pb-6;
}

.markdown a {
    @apply border-b-[1px];
}

.markdown hr {
    @apply pt-8 opacity-60 dark:opacity-10;
}

.markdown h1 {
    @apply mt-2 pb-8;
}

.markdown h2 {
    @apply mt-2 pb-8;
}

.markdown h3 {
    @apply mt-2 pb-8;
}

.markdown h4 {
    @apply mt-2 pb-8;
}

.markdown pre {
    @apply -mx-4 mb-8 overflow-y-auto text-sm bg-main/20 rounded-md dark:bg-background dark:bg-opacity-20;;
}

.markdown pre code {
    @apply p-6;
}

.markdown blockquote {
    @apply relative -left-2 -ml-4 mb-8 pl-4;
    font-style: italic;
    border-left: 3px solid hsla(0, 0%, 0%, 0.9);
    border-left-color: inherit;
    opacity: 0.8;
}

.markdown blockquote p {
    margin: 0;
    padding: 0;
}

.markdown p img {
    margin-bottom: 0;
}

.markdown ul {
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.75rem;
    list-style-position: outside;
    list-style-image: none;
    list-style: disc;
}

.markdown li {
    margin-bottom: calc(1.75rem / 2);
}

.markdown img {
    @apply mb-8;
    max-width: 100%;
}

:not(.mdx-embed) > iframe {
    @apply w-full h-96;
}

iframe {
    @apply mb-6 !important;
}
