.markdown {
    line-height: 28px;
}

.markdown p {
    @apply pb-6;
}

.markdown a {
    @apply border-b-[1px];
}

.markdown hr {
    @apply pt-8 opacity-60 dark:opacity-10;
}

.markdown h1 {
    @apply mt-2 pb-8;
}

.markdown h2 {
    @apply mt-2 pb-8;
}

.markdown h3 {
    @apply mt-2 pb-8;
}

.markdown h4 {
    @apply mt-2 pb-8;
}

.markdown pre {
    @apply -mx-4 mb-8 overflow-y-auto text-sm bg-main/20 rounded-md dark:bg-background dark:bg-opacity-20;;
}

.markdown pre code {
    @apply p-6;
}

.markdown blockquote {
    @apply relative -left-2 -ml-4 mb-8 pl-4 border-opacity-90 text-opacity-90 italic border-l-4 border-main dark:border-main-dark;
}

.markdown blockquote p {
    margin: 0;
    padding: 0;
}

.markdown p img {
    margin-bottom: 0;
}

.markdown ul {
    @apply list-disc list-inside mb-4;
}

.markdown ol {
    @apply list-decimal list-inside mb-4;
}

.markdown li {
    @apply ml-4;
}

.markdown img {
    @apply mb-8;
}

:not(.mdx-embed) > iframe {
    @apply w-full h-96;
}

iframe {
    @apply mb-6 !important;
}
